.title {
text-align: center;
font-style: italic;
font-size:40px;
}
.subtitle {
text-align: center;
font-size: 30px;
}
.peperoni {
width: 450px;
height: 225px;
}
.skladpep {
font-family: cursive;
}
.pep {
font-size: 30px;
font-family: cursive;
}
body {
background: url(fon.jpg);
}
.menu {
list-style: none;
text-align: center;
}
.menu li {
display: inline-block;
}
.menu a {
font-size: 20px;
font-family: verdana;
display: block;
color:black;
text-decoration: none;
padding: 15px;
}
.menu a:hover {
color: blue;
transform: scale(1.1);
transition: all 0.5s;
}
.menu a.active {
color: red;
}
.history {
font-style: italic;
font-size: 20px;
text-align: left;
margin: 50px;
}
.histori {
width: 400px;
margin: 50px;
float: right;
}


